/* Layout Effects */
// If you want an effect in your document when the scroll moves activate the next line
html {
    scroll-behavior: smooth;
}

// For All the document
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

/* Body */
body {
    min-width: 300px;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
}

 